body,
html {
  margin: 0;
  font-family: $font-family-sans-serif;
  background-color: $white;
  color: $black;
  height: 100vh;
}

%list {
  display: flex;
  flex-flow: column wrap;
}

%titulo {
  font-weight: 500;
  font-size: 1.5em;
  border-bottom: 1px solid black;
  display: block;
}

.curriculum {
  display: flex;
  height: 100%;

  @media all and (max-width: 768px) {
    flex-direction: column;
  }

  &__contenido {
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 5%;
    flex: 80%;
  }
  &__info {
    background-color: $blue-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 20%;
    padding: 20px;
  }

  &__foto {
    width: 200px;
    height: 200px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

.contacto {
  line-height: 1.5;

  &__element {
    list-style-type: none;
  }

  &__nombre {
    list-style-type: none;
    font-weight: bold;
  }

  &__trabajo {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: black;
      text-decoration: underline 1px solid black;
    }
  }
}

.educacion {
  line-height: 1.6rem;

  &__titulo {
    @extend %titulo;
  }

  &__element {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__titulacion {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__fecha {
    font-size: 0.9rem;
  }
}

.experiencia {
  &__titulo {
    @extend %titulo;
  }

  &__element {
    list-style-type: none;
  }

  &__nombre {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.intereses {
  &__titulo {
    @extend %titulo;
  }

  &__element {
    list-style-type: "\2713";
  }
}

.competencias {
  &__titulo {
    @extend %titulo;
  }

  &__lista {
    display: flex;
    flex-wrap: wrap;
  }

  &__element {
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    background-color: $blue-light;
    list-style-type: none;
    width: fit-content;
    margin: 10px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.descripcion {
  &__titulo {
    @extend %titulo;
  }
}
