@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$gray: #bdbdbd;
$black: #4f4f4f;
$white: #fff;
$dark-blue: #283593;
$dark-blue-lighter: color.scale($dark-blue, $lightness: 10%);
